---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";


const platforms: Array<CompatibilityItem> = [
  {
    title: "Facebook",
    icon: "platforms/icons8-facebook",
    url: "",
  },
  {
    title: "Instagram",
    icon: "platforms/icons8-instagram",
    url: "",
  },
  {
    title: "TikTok",
    icon: "fa-brands:tiktok",
    url: "",
  },
];
---

<ContentSection title="Plataformas" id="compatibility">
  <Fragment slot="lead">
  <span class="text-primary">Creativo Studio</span> Se enfoca en las principales{" "}
    <span class="text-primary">RRSS</span>
    Entendiendo que estas <span class="text-primary">mejoran tu visibilidad</span>.
  </Fragment>
  <CompatibilityList
    items={platforms}
    title="Platforms"
  />
</ContentSection>
