---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Construimos junto a ti",
    description:
      "Tu eres nuestra prioridad. Nos basamos en datos reales para levantar tu empresa, analizando y encontrando el mejor camino para las metas que quieres lograr.",
    icon: "mdi:handshake",
  },
  {
    title: "SEO habilitado",
    description:
      "hacemos uso de todas las herramientas a nuestro alcance en el dia de hoy como la IA, para que seas el primero en las busquedas y tengas visibilidad.",
    icon: "mdi:search-web",
  },
  {
    title: "Comunidad",
    description:
      "Para todos los negocios es importante que creen y levanten una comunidad, que amen sus productos y que pueda mantenerse a los largo del tiempo.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Que ofrecemos?" id="features">
  <Fragment slot="lead">
    Queremos que <span class="text-primary">vivas la experiencia</span> de trabajar
    con una agencia que es
    <span class="text-primary"> mas que una agencia</span>
    aqui abajo te <span class="text-primary">podras leer por que.</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
