---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Invierte Bien" id="intro">
  <Fragment slot="lead">
    Pensamos siempre en lo que podemos
    <span class="text-primary">mejorar</span> en ti.
    <span class="text-primary">Tu empresa</span>
    es nuestra <span class="text-primary">inspiracion</span> vive la experiencia!.
  </Fragment>
</ContentSection>
